$color_1: #555555;
$color_2: #000000;
$color_3: #2eca6a;
$color_4: #ffffff;
$color_5: #adadad;
$color_6: #313131;
$color_7: #2B2A2A;
$color_8: #fff;
$color_9: #d8d8d8;
$color_10: red;
$font-family_1: "Inter", sans-serif;
$background-color_1: transparent;
$background-color_2: #2eca6a;
$background-color_3: #313131;
$background-color_4: #555;
$background-color_5: #26a356;
$background-color_6: #000000;
$background-color_7: #ffffff;
$background-color_8: #f3f3f3;
$border-color_1: transparent;
$border-color_2: #313131;
$border-color_3: #2eca6a;
$border-top-color_1: #eee;

@import "https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Open+Sans&display=swap";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*------/ Nav Pills  /------*/
/*------/ Bg Image /------*/
/*------/ List a /------*/
/*------/ Pagination-a /------*/
/*------/ Icon Box /------*/
/*------/ Space Padding /------*/
/*------/ Title /------*/
/*------/ Display Table & Table Cell /------*/
/*------/ Ul Resect /------*/
/*------/ Overlay /------*/
/*------/ Socials /------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/* Prelaoder */
@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*======================================
//--//-->   BUTTON
======================================*/
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
/*------/ Hamburger Navbar /------*/
/*======================================
//--//-->   BOX COLAPSE
======================================*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*------/ Intro Single /------*/
/*--------------------------------------------------------------
# Card General
--------------------------------------------------------------*/
/*======================================
//--//-->   PROPERTY - CARD-A
======================================*/
/*------/ Property Grid /-----*/
/*------/ Property Single /-----*/
/*======================================
//--//-->   NEWS - CARD-B
======================================*/
/*------/ News Single /------*/
/*------/ Comments /------*/
/*======================================
//--//-->   SERVICES - CARD-C
======================================*/
/*======================================
//--//-->   AGENTS - CARD-D
======================================*/
/*------/ Agent Single /------*/
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */
body {
	font-family: $font-family_1;
	color: $color_1;
}
h1 {
	color: $color_2;
}
h2 {
	color: $color_2;
}
h3 {
	color: $color_2;
}
h4 {
	color: $color_2;
}
h5 {
	color: $color_2;
}
h6 {
	color: $color_2;
}
a {
	color: $color_2;
	text-decoration: none;
	transition: all 0.5s ease;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
}
.link-two {
	color: $color_2;
	transition: all 0.5s ease;
	&:hover {
		text-decoration: underline;
		color: $color_2;
	}
}
.link-one {
	color: $color_2;
	transition: all 0.5s ease;
	&:hover {
		color: $color_2;
		text-decoration: none;
	}
}
.link-icon {
	color: $color_2;
	font-weight: 500;
	span {
		font-size: 14px;
		padding-left: 4px;
		vertical-align: middle;
	}
}
.link-a {
	text-decoration: none;
	color: $color_4;
	text-decoration: none;
	&:hover {
		color: $color_4;
		text-decoration: none;
	}
	span {
		font-size: 18px;
		vertical-align: middle;
		margin-left: 5px;
	}
}
.text-brand {
	color: $color_2;
	font-size: 2rem;
	font-weight: 600;
}
.color-a {
	text-decoration: none;
	color: $color_2;
}
.color-b {
	color: $color_3;
}
.color-d {
	color: $color_5;
}
.color-text-a {
	text-decoration: none;
	color: $color_1;
}
.no-margin {
	margin: 0;
}
.nav-pills-a {
	text-decoration: none;
}
.nav-pills-a.nav-pills {
	.nav-link {
		color: $color_2;
		position: relative;
		font-weight: 600;
	}
	.nav-link.active {
		background-color: $background-color_1;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 2px;
			background-color: $background-color_2;
			z-index: 2;
		}
	}
}
.bg-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.list-a {
	text-decoration: none;
	display: inline-block;
	line-height: 2;
	padding: 0;
	list-style: none;
	li {
		position: relative;
		width: 50%;
		float: left;
		padding-left: 25px;
		padding-right: 5px;
		&:before {
			content: "";
			width: 10px;
			height: 2px;
			position: absolute;
			background-color: $background-color_3;
			top: 15px;
			left: 0;
		}
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
}
.pagination-a {
	text-decoration: none;
	.pagination {
		.page-link {
			margin: 0 0.2rem;
			border-color: $border-color_1;
			padding: 0.5rem 0.8rem;
			color: $color_2;
			&:hover {
				background-color: $background-color_2;
			}
			&:active {
				background-color: $background-color_2;
			}
			&:focus {
				background-color: $background-color_2;
			}
			span {
				font-size: 1.2rem;
			}
		}
		.next {
			.page-link {
				padding: 0.4rem 0.9rem;
			}
		}
		.page-item {
			&:last-child {
				.page-link {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			&:first-child {
				.page-link {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
		.page-item.disabled {
			.page-link {
				padding: 0.4rem 0.9rem;
				color: $color_1;
			}
		}
		.page-item.active {
			.page-link {
				background-color: $background-color_2;
			}
		}
	}
}
.a {
	text-decoration: none;
	color: $color_3;
	font-size: 1.3rem;
}
.icon-box {
	.icon-box-icon {
		display: table-cell;
		vertical-align: top;
		font-size: 36px;
		color: $color_2;
		width: 50px;
		padding-top: 8px;
	}
	.icon-box-content {
		padding-top: 18px;
	}
}
.section-t8 {
	padding-top: 8rem;
}
.section-t4 {
	padding-top: 4rem;
}
.section-t3 {
	padding-top: 3rem;
}
.section-b2 {
	padding-bottom: 2rem;
}
.section-tb85 {
	padding: 8rem 0 5rem 0;
}
.title-wrap {
	padding-bottom: 4rem;
}
.title-a {
	text-decoration: none;
	font-size: 2.6rem;
	font-weight: 600;
}
.title-link {
	font-size: 1.2rem;
	font-weight: 300;
	padding-top: 1.2rem;
	a {
		text-decoration: none;
		color: $color_6;
	}
	span {
		font-size: 20px;
		padding-left: 4px;
		vertical-align: middle;
	}
}
.title-box-d {
	padding-bottom: 1.8rem;
	margin-bottom: 1rem;
	position: relative;
	.title-d {
		font-weight: 600;
		font-size: 2rem;
		&:after {
			content: "";
			position: absolute;
			width: 70px;
			height: 4px;
			background-color: $background-color_2;
			bottom: 20px;
			left: 0;
		}
	}
}
.display-table {
	width: 100%;
	height: 100%;
	display: table;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.ul-resect {
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
}
.box-comments {
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	.list-comments {
		li {
			padding-bottom: 3.5rem;
		}
		.comment-avatar {
			display: table-cell;
			vertical-align: top;
			img {
				width: 80px;
				height: 80px;
			}
		}
		.comment-author {
			font-size: 1.3rem;
		}
		.comment-details {
			display: table-cell;
			vertical-align: top;
			padding-left: 25px;
		}
		.comment-description {
			padding: 0.8rem 0 0.5rem 0;
		}
		a {
			color: $color_2;
		}
		span {
			display: block;
			color: $color_7;
			font-style: italic;
		}
	}
	.comment-children {
		margin-left: 40px;
	}
}
.overlay-a {
	text-decoration: none;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}
.overlay {
	position: absolute;
	top: 0;
	left: 0px;
	padding: 0;
	height: 100%;
	width: 100%;
}
.carousel-pagination {
	margin-top: 10px;
	text-align: center;
	.swiper-pagination-bullet {
		width: 18px;
		height: 10px;
		background-color: $background-color_4;
		margin: 0 4px;
		border-radius: 0;
		opacity: 1;
		transition: 0.3s;
	}
	.swiper-pagination-bullet-active {
		background-color: $background-color_2;
		width: 36px;
	}
}
.nav-arrow-a {
	text-decoration: none;
	.owl-arrow {
		.owl-nav {
			font-size: 1.8rem;
			margin-top: -110px;
			.owl-next {
				margin-left: 15px;
			}
		}
	}
}
.nav-arrow-b {
	.owl-arrow {
		.owl-nav {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 1.2rem;
			.owl-prev {
				padding: 0.7rem 1.5rem !important;
				display: inline-block;
				transition: all 0.6s ease-in-out;
				color: $color_4;
				background-color: $background-color_2;
				opacity: 0.9;
				&:hover {
					background-color: $background-color_5;
				}
			}
			.owl-next {
				padding: 0.7rem 1.5rem !important;
				display: inline-block;
				transition: all 0.6s ease-in-out;
				color: $color_4;
				background-color: $background-color_2;
				opacity: 0.9;
				margin-left: 0px;
				&:hover {
					background-color: $background-color_5;
				}
			}
			.owl-prev.disabled {
				transition: all 0.6s ease-in-out;
				color: $color_4;
			}
			.owl-next.disabled {
				transition: all 0.6s ease-in-out;
				color: $color_4;
			}
		}
	}
}
.socials-a {
	text-decoration: none;
	.list-inline-item {
		&:not(:last-child) {
			margin-right: 25px;
		}
	}
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #2eca6a;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 28px;
		color: $color_8;
		line-height: 0;
	}
	&:hover {
		background: #4bd680;
		color: $color_8;
	}
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	&:before {
		content: "";
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		border: 6px solid #f2f2f2;
		border-top: 6px solid #2eca6a;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: animate-preloader 1s linear infinite;
	}
}
.btn {
	transition: 0.5s ease;
}
.btn.btn-a {
	border-radius: 0;
	padding: 1rem 3rem;
	letter-spacing: 0.05rem;
	text-decoration: none;
	background-color: $background-color_6;
	color: $color_4;
	&:hover {
		background-color: $background-color_2;
		color: $color_2;
	}
}
.btn.btn-b {
	border-radius: 0;
	padding: 1rem 3rem;
	letter-spacing: 0.05rem;
	background-color: $background-color_2;
	color: $color_2;
	&:hover {
		background-color: $background-color_6;
		color: $color_4;
	}
}
.btn.btn-s {
	border-radius: 0;
	padding: 1rem 3rem;
	letter-spacing: 0.05rem;
	background-color: $background-color_2;
	color: $color_2;
	&:hover {
		background-color: $background-color_6;
		color: $color_4;
	}
}
.btn.btn-b-n {
	background-color: $background-color_2;
	color: $color_4;
	border-radius: 0;
	&:hover {
		background-color: $background-color_5;
		color: $color_4;
	}
}
.navbar-toggle-box {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	padding: 10px;
	i {
		line-height: 0;
	}
}
.navbar-default {
	transition: all 0.5s ease-in-out;
	background-color: $background-color_7;
	padding-top: 28px;
	padding-bottom: 28px;
	backface-visibility: hidden;
	box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
	.nav-search {
		color: $color_2;
		font-size: 1.5rem;
	}
	.dropdown {
		.dropdown-menu {
			border-top: 0;
			border-left: 4px solid #2eca6a;
			border-right: 0;
			border-bottom: 0;
			transform: translate3d(0px, 40px, 0px);
			opacity: 0;
			filter: alpha(opacity=0);
			visibility: hidden;
			transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
			margin: 0;
			border-radius: 0;
			padding: 12px 0;
			.dropdown-item {
				padding: 12px 18px;
				transition: all 500ms ease;
				font-weight: 600;
				min-width: 220px;
				&:hover {
					background-color: $background-color_7;
					color: $color_3;
					transition: all 500ms ease;
				}
			}
			.dropdown-item.active {
				background-color: $background-color_7;
				color: $color_3;
			}
		}
		&:hover {
			.dropdown-menu {
				transform: translate3d(0px, 0px, 0px);
				visibility: visible;
				opacity: 1;
				filter: alpha(opacity=1);
			}
		}
	}
}
.navbar-default.navbar-reduce {
	box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
	backface-visibility: hidden;
	transition: all 0.5s ease-in-out;
	padding-top: 19px;
	padding-bottom: 19px;
	.nav-item {
		position: relative;
		padding-right: 10px;
		padding-bottom: 8px;
		margin-left: 0;
	}
	.nav-link {
		font-size: 1.1rem;
		color: $color_2;
		font-weight: 600;
		letter-spacing: 0.03em;
		transition: all 0.1s ease-in-out;
		position: relative;
		padding-left: 0;
		padding-right: 0;
		color: $color_2;
		&:before {
			content: "";
			position: absolute;
			bottom: 5px;
			left: 0;
			width: 100%;
			height: 2px;
			z-index: 0;
			background-color: $background-color_2;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
			background-color: $background-color_2;
		}
		&:hover {
			color: $color_2;
			color: $color_2;
			&:before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
	.show {
		>.nav-link {
			color: $color_2;
			&:before {
				transform: scaleX(1);
			}
		}
	}
	.active {
		>.nav-link {
			color: $color_2;
			&:before {
				transform: scaleX(1);
			}
		}
	}
	.nav-link.show {
		color: $color_2;
		&:before {
			transform: scaleX(1);
		}
	}
	.nav-link.active {
		color: $color_2;
		&:before {
			transform: scaleX(1);
		}
	}
	.navbar-brand {
		color: $color_2;
	}
}
.navbar-default.navbar-trans {
	backface-visibility: hidden;
	.nav-item {
		position: relative;
		padding-right: 10px;
		padding-bottom: 8px;
		margin-left: 0;
	}
	.nav-link {
		font-size: 1.1rem;
		color: $color_2;
		font-weight: 600;
		letter-spacing: 0.03em;
		transition: all 0.1s ease-in-out;
		position: relative;
		padding-left: 0;
		padding-right: 0;
		&:before {
			content: "";
			position: absolute;
			bottom: 5px;
			left: 0;
			width: 100%;
			height: 2px;
			z-index: 0;
			background-color: $background-color_2;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
			background-color: $background-color_2;
		}
		&:hover {
			color: $color_2;
			color: $color_2;
			&:before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
	.show {
		>.nav-link {
			color: $color_2;
			&:before {
				transform: scaleX(1);
			}
		}
	}
	.active {
		>.nav-link {
			color: $color_2;
			&:before {
				transform: scaleX(1);
			}
		}
	}
	.nav-link.show {
		color: $color_2;
		&:before {
			transform: scaleX(1);
		}
	}
	.nav-link.active {
		color: $color_2;
		&:before {
			transform: scaleX(1);
		}
	}
}
.navbar-toggler {
	position: relative;
	&:focus {
		outline: 0;
	}
	&:active {
		outline: 0;
	}
	span {
		display: block;
		background-color: $background-color_6;
		height: 3px;
		width: 25px;
		margin-top: 4px;
		margin-bottom: 4px;
		transform: rotate(0deg);
		left: 0;
		opacity: 1;
		&:nth-child(1) {
			transition: transform 0.35s ease-in-out;
		}
		&:nth-child(3) {
			transition: transform 0.35s ease-in-out;
		}
	}
	&:not(.collapsed) {
		span {
			&:nth-child(1) {
				position: absolute;
				left: 12px;
				top: 10px;
				transform: rotate(135deg);
				opacity: 0.9;
			}
			&:nth-child(2) {
				height: 12px;
				visibility: hidden;
				background-color: $background-color_1;
			}
			&:nth-child(3) {
				position: absolute;
				left: 12px;
				top: 10px;
				transform: rotate(-135deg);
				opacity: 0.9;
			}
		}
	}
}
.box-collapse {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 1040;
	background-color: $background-color_7;
	transform: translateX(100%);
	transition: all 0.6s ease;
	.title-box-d {
		top: 30px;
		left: 60px;
		opacity: 0;
		transition: all 1s ease;
		transition-delay: 0.3s;
	}
}
.box-collapse-wrap {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 6.5rem;
	bottom: 5rem;
	padding-left: 10%;
	padding-right: 10%;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	transform: translateY(3rem);
	transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
}
.box-collapse-open {
	.click-closed {
		visibility: visible;
	}
	.box-collapse {
		transform: translateX(0);
		box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
		opacity: 1;
		.title-box-d {
			transform: translate(0);
			opacity: 1;
		}
	}
	.box-collapse-wrap {
		transform: translate(0);
		opacity: 1;
	}
}
.box-collapse-closed {
	.box-collapse {
		opacity: 0.7;
		transition-delay: 0s;
		.title-box-d {
			opacity: 0;
			transition-delay: 0s;
		}
		.form-a {
			opacity: 0;
			transition-delay: 0s;
		}
	}
}
.click-closed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 1035;
	background-color: $background-color_6;
	opacity: 0.4;
}
.close-box-collapse {
	position: absolute;
	z-index: 1050;
	top: 2rem;
	font-size: 3.5rem;
	line-height: 1;
	color: $color_2;
	cursor: pointer;
	transition: all 0.3s ease;
}
.right-boxed {
	right: 4.2857rem;
}
.intro {
	height: 100vh;
	position: relative;
	color: $color_4;
	.swiper-pagination {
		bottom: 50px;
		.swiper-pagination-bullet {
			width: 18px;
			height: 10px;
			background-color: $background-color_7;
			border-radius: 0;
			opacity: 1;
			transition: 0.3s;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_2;
			width: 36px;
		}
	}
	.intro-item {
		padding-top: 2rem;
	}
	.carousel-item-a {
		position: relative;
		height: 100vh;
	}
	.carousel-item-a.bg-image {
		background-attachment: scroll;
	}
	.intro-content {
		position: absolute;
	}
	.intro-body {
		padding-left: 1rem;
		.price-a {
			color: $color_4;
			padding: 1rem 1.5rem;
			border: 2px solid #2eca6a;
			border-radius: 50px;
			text-transform: uppercase;
			letter-spacing: 0.03em;
		}
	}
	.spacial {
		animation-delay: 0.2s;
		color: $color_4;
	}
	.intro-title-top {
		margin-bottom: 1rem;
		font-size: 0.9rem;
		color: $color_4;
		letter-spacing: 0.05em;
	}
	.intro-title {
		color: $color_4;
		font-weight: 700;
		font-size: 2.8rem;
		text-transform: uppercase;
	}
	.intro-subtitle {
		font-size: 1.5rem;
		font-weight: 300;
	}
	.intro-subtitle.intro-price {
		padding-top: 1rem;
		font-size: 1.2rem;
	}
}
.intro-single {
	padding: 12rem 0 3rem;
	.title-single-box {
		padding: 1rem 0 1rem 2rem;
		border-left: 3px solid #2eca6a;
		.title-single {
			font-weight: 600;
			font-size: 2.2rem;
		}
	}
	.breadcrumb-box {
		padding: 1rem 0 0 0.5rem;
	}
	.breadcrumb {
		background-color: $background-color_1;
		padding-right: 0;
		padding-left: 0;
	}
}
.card-box-a {
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	span {
		line-height: 0;
	}
	.img-a {
		transition: 0.8s all ease-in-out;
	}
	.img-b {
		transition: 0.8s all ease-in-out;
	}
}
.card-box-b {
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	span {
		line-height: 0;
	}
	.img-a {
		transition: 0.8s all ease-in-out;
	}
	.img-b {
		transition: 0.8s all ease-in-out;
	}
}
.card-box-c {
	position: relative;
	span {
		line-height: 0;
	}
}
.card-box-d {
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	span {
		line-height: 0;
	}
	.card-overlay-hover {
		transition: all 0.2s ease-in-out;
		padding: 15px 40px 15px 35px;
	}
	.title-d {
		transition: 0.3s ease-in-out;
		font-size: 2rem;
		font-weight: 600;
		margin: 1rem 0;
		transform: translateY(-20px);
		opacity: 0;
	}
	.content-d {
		opacity: 0;
		transition: 0.5s ease-in-out;
		transform: translateY(-40px);
	}
	.info-agents {
		opacity: 0;
		transition: 0.5s ease-in-out;
	}
	.card-footer-d {
		transition: 0.5s ease-in-out;
		transform: translateY(40px);
		opacity: 0;
		position: absolute;
		width: 100%;
		bottom: 10px;
		left: 0;
	}
	.list-inline-item {
		&:not(:last-child) {
			margin-right: 25px;
		}
	}
	&:hover {
		.card-overlay-hover {
			background-color: $background-color_2;
			opacity: 0.9;
		}
		.title-d {
			opacity: 1;
			transform: translateY(0);
		}
		.content-d {
			opacity: 1;
			transform: translateY(0);
		}
		.info-agents {
			opacity: 1;
			transform: translateY(0);
		}
		.card-footer-d {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
.card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.card-shadow {
	backface-visibility: hidden;
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
	}
}
.card-overlay-a-content {
	transition: all 0.5s ease-in;
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index: 2;
}
.card-header-a {
	padding: 0 1rem;
	.card-title-a {
		color: $color_4;
		margin-bottom: 0;
		padding-bottom: 0.7rem;
		a {
			color: $color_4;
			text-decoration: none;
		}
	}
}
.card-body-a {
	z-index: 2;
	transition: all 0.5s ease-in;
	padding: 0rem 1rem 2rem 1rem;
	.price-box {
		padding-bottom: 0.5rem;
	}
}
.price-a {
	color: $color_4;
	padding: 0.6rem 0.8rem;
	border: 2px solid #2eca6a;
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.card-footer-a {
	width: 100%;
	position: absolute;
	z-index: 2;
	background-color: $background-color_2;
}
.card-info {
	list-style: none;
	margin-bottom: 0;
	padding: 0.5rem 0;
	.card-info-title {
		font-size: 1rem;
		color: $color_6;
	}
	li {
		span {
			color: $color_4;
			font-size: 0.9rem;
		}
	}
}
.property-grid {
	.grid-option {
		text-align: right;
		margin-bottom: 2rem;
		.custom-select {
			border-radius: 0;
			width: 200px;
			border-color: $border-color_2;
			&:hover {
				border-color: $border-color_2;
			}
			&:active {
				border-color: $border-color_2;
			}
			&:focus {
				border-color: $border-color_2;
			}
			option {
				border-color: $border-color_2;
			}
		}
	}
}
.gallery-property {
	margin-bottom: 3rem;
}
.property-price {
	margin: 0 auto;
	.card-header-c {
		padding: 0;
	}
}
.summary-list {
	padding-right: 1rem;
	color: $color_2;
	.list {
		padding: 0;
		line-height: 2;
		span {
			color: $color_1;
		}
	}
}
.property-agent {
	.title-agent {
		font-weight: 600;
	}
	ul {
		line-height: 2;
		color: $color_2;
	}
	.socials-a {
		text-align: center;
	}
}
.card-header-b {
	padding: 1rem;
	color: $color_4;
	position: absolute;
	bottom: 20px;
	z-index: 2;
	.category-b {
		font-size: 0.9rem;
		background-color: $background-color_2;
		padding: 0.3rem 0.7rem;
		color: $color_6;
		letter-spacing: 0.03em;
		border-radius: 50px;
		text-decoration: none;
	}
	.title-2 {
		margin-bottom: 0;
		padding: 0.6rem 0;
		font-size: 1.5rem;
		a {
			color: $color_4;
			text-decoration: none;
		}
	}
	.date-b {
		color: $color_9;
		font-size: 1rem;
	}
}
.post-information {
	padding: 3rem 0;
}
.post-content {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.6;
	.post-intro {
		font-size: 1.7rem;
		font-weight: 300;
		margin-bottom: 4rem;
		line-height: 1.6;
		color: $color_2;
		font-weight: 400;
	}
	p {
		margin-bottom: 1.7rem;
	}
	.blockquote {
		padding: 1rem 3rem 1.7rem 3rem;
		border-left: 3px solid #2eca6a;
		color: $color_2;
		footer {
			text-align: left;
			padding: 0;
		}
	}
}
.post-footer {
	padding: 3rem 0 4rem;
}
.post-share {
	.socials {
		display: inline-block;
		li {
			margin-left: 0.6rem;
		}
	}
}
.card-header-c {
	padding: 0 1rem 1rem 1rem;
}
.card-body-c {
	padding: 0.5rem 0.5rem 0 0.5rem;
}
.card-footer-c {
	padding-left: 0.5rem;
}
.card-box-ico {
	padding: 1rem 3rem 1rem 2.5rem;
	border: 5px solid #2eca6a;
	span {
		font-size: 4rem;
		color: $color_2;
	}
}
.title-c {
	font-size: 2.5rem;
	font-weight: 600;
	margin-left: -40px;
}
.agent-info-box {
	.socials-footer {
		margin-top: 2rem;
		li {
			margin-right: 1.5rem;
		}
	}
}
.section-about {
	.title-vertical {
		position: absolute;
		letter-spacing: 0;
		transform: rotate(-90deg);
		top: 50px;
		text-align: left;
		font-size: 1.8rem;
		width: 300px;
		font-weight: 700;
		text-align: right;
	}
}
.about-img-box {
	padding-left: 1rem;
	position: relative;
}
.sinse-box {
	background-color: $background-color_2;
	padding: 1rem 2rem;
	position: absolute;
	left: 15px;
	bottom: 10px;
	.sinse-title {
		font-weight: 700;
		letter-spacing: 0.043em;
		font-size: 1rem;
		span {
			position: absolute;
			&:after {
				content: " ";
				width: 35px;
				height: 2px;
				background-color: $background-color_6;
				position: absolute;
				bottom: -15px;
			}
		}
	}
	p {
		margin-bottom: 0;
		font-size: 0.7rem;
	}
}
.testimonials-box {
	padding: 1rem 0;
	.testimonial-avatar {
		width: 80px !important;
		display: inline-flex !important;
		border-radius: 50%;
	}
}
.testimonial-ico {
	text-align: center;
	i {
		font-size: 48px;
		color: $color_3;
	}
}
.testimonial-text {
	font-style: italic;
	margin-top: 25px;
	padding: 1.5rem 1.5rem;
	background-color: $background-color_8;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 25px;
		width: 0px;
		height: 0px;
		border-top: 15px solid rgb(243, 243, 243);
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
	}
}
.testimonial-author-box {
	margin-top: 2rem;
}
.testimonial-author {
	margin-left: 1rem;
	display: inline-flex;
	font-size: 1.2rem;
	color: $color_2;
}
.form-as {
	#sendmessage {
		color: $color_3;
		border: 1px solid #26a356;
		display: none;
		text-align: center;
		padding: 15px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	#errormessage {
		color: $color_10;
		display: none;
		border: 1px solid red;
		text-align: center;
		padding: 15px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	#sendmessage.show {
		display: block;
	}
	#errormessage.show {
		display: block;
	}
	.show {
		display: block;
	}
	.validation {
		color: $color_10;
		display: none;
		margin: 4px 0 20px 0;
		font-weight: 400;
		font-size: 13px;
	}
	label {
		color: $color_2;
		position: relative;
	}
	select.form-control-lg {
		&:not([size]) {
			&:not([multiple]) {
				height: 3.5rem;
			}
		}
	}
	.form-control {
		border-radius: 0;
		font-size: 1.1rem;
		font-weight: 300;
		&:focus {
			box-shadow: none;
			border-color: $border-color_3;
		}
	}
	.form-control.form-control-a {
		height: 3.5rem;
	}
}
.php-email-form {
	.error-message {
		display: none;
		color: $color_8;
		background: #ed3c0d;
		text-align: center;
		padding: 15px;
		font-weight: 600;
	}
	.sent-message {
		display: none;
		color: $color_8;
		background: #18d26e;
		text-align: center;
		padding: 15px;
		font-weight: 600;
	}
	.loading {
		display: none;
		background: #fff;
		text-align: center;
		padding: 15px;
		&:before {
			content: "";
			display: inline-block;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			margin: 0 10px -6px 0;
			border: 3px solid #18d26e;
			border-top-color: $border-top-color_1;
			animation: animate-loading 1s linear infinite;
		}
	}
	label {
		color: $color_2;
		position: relative;
	}
	select.form-control-lg {
		&:not([size]) {
			&:not([multiple]) {
				height: 3.5rem;
			}
		}
	}
	.form-control {
		border-radius: 0;
		font-size: 1.1rem;
		font-weight: 300;
		&:focus {
			box-shadow: none;
			border-color: $border-color_3;
		}
	}
	.form-control.form-control-a {
		height: 3.5rem;
	}
}
.section-footer {
	padding-top: 60px;
	margin-top: 60px;
	background: #f3f3f3;
	ul {
		line-height: 2;
	}
	.item-list-a {
		i {
			font-size: 18px;
			padding-right: 4px;
			color: $color_3;
		}
	}
	.widget-a {
		.w-title-a {
			margin-bottom: 1rem;
		}
	}
}
footer {
	background: #f3f3f3;
	text-align: center;
	padding: 30px 0;
	.copyright-footer {
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}
	.credits {
		font-size: 14px;
	}
}
@media (min-width: 768px) {
	.link-a {
		font-size: 0.9rem;
		span {
			font-size: 1.5rem;
		}
	}
	.navbar-default.navbar-trans {
		.nav-item {
			margin-left: 15px;
		}
	}
	.navbar-default.navbar-reduce {
		.nav-item {
			margin-left: 15px;
		}
	}
	.navbar-default {
		.dropdown {
			.dropdown-menu {
				border-top: 4px solid #2eca6a;
				border-left: 0;
				display: block;
				position: absolute;
				box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
			}
		}
	}
	.box-collapse {
		width: 50%;
	}
	.intro {
		.intro-body {
			padding-left: 2rem;
		}
		.intro-title-top {
			font-size: 0.9rem;
			margin-bottom: 1rem;
		}
		.intro-title {
			font-size: 3.5rem;
		}
		.intro-subtitle {
			font-size: 2.5rem;
		}
		.intro-subtitle.intro-price {
			padding-top: 2rem;
			font-size: 1.5rem;
		}
	}
	.intro-single {
		.title-single-box {
			.title-single {
				font-size: 2.1rem;
			}
		}
	}
	.grid {
		.card-box-a {
			margin-bottom: 2.5rem;
		}
		.card-box-b {
			margin-bottom: 2.5rem;
		}
		.card-box-c {
			margin-bottom: 2.5rem;
		}
		.card-box-d {
			margin-bottom: 2.5rem;
		}
	}
	.card-box-a {
		&:hover {
			.img-a {
				transform: scale(1.2);
			}
			.img-b {
				transform: scale(1.2);
			}
			.card-overlay-a-content {
				bottom: 60px;
			}
			.card-body-a {
				padding-bottom: 1rem;
			}
		}
		.price-a {
			font-size: 0.9rem;
		}
	}
	.card-box-b {
		&:hover {
			.img-a {
				transform: scale(1.2);
			}
			.img-b {
				transform: scale(1.2);
			}
		}
		.price-a {
			font-size: 0.9rem;
		}
	}
	.card-overlay-a-content {
		bottom: -20px;
	}
	.card-header-a {
		.card-title-a {
			font-size: 1.3rem;
		}
	}
	.card-info {
		.card-info-title {
			font-size: 0.9rem;
		}
		li {
			span {
				font-size: 0.8rem;
			}
		}
	}
	.card-header-b {
		bottom: 0px;
		.title-2 {
			font-size: 1rem;
		}
		.date-b {
			font-size: 0.9rem;
		}
	}
	.box-comments {
		.list-comments {
			.comment-author {
				font-size: 1.5rem;
			}
		}
	}
	.title-c {
		font-size: 1.8rem;
	}
	.card-box-d {
		.card-overlay-hover {
			padding: 5px 15px 5px 10px;
		}
		.title-d {
			font-size: 1.1rem;
			margin: 0.5rem 0;
		}
		.content-d {
			font-size: 0.8rem;
			margin: 0.5rem 0;
		}
		.card-body-d {
			p {
				margin-bottom: 8px;
				font-size: 0.8rem;
			}
		}
	}
	.about-img-box {
		padding-left: 5rem;
	}
	.sinse-box {
		padding: 1.5rem 3rem;
		.sinse-title {
			font-size: 1.8rem;
		}
	}
}
@media (min-width: 992px) {
	.link-a {
		font-size: 1rem;
		span {
			font-size: 18px;
		}
	}
	.list-a {
		li {
			width: 33.333%;
		}
	}
	.intro {
		.intro-title-top {
			font-size: 1rem;
			margin-bottom: 2rem;
		}
		.intro-title {
			font-size: 4rem;
		}
		.intro-subtitle.intro-price {
			padding-top: 3rem;
		}
	}
	.intro-single {
		.title-single-box {
			.title-single {
				font-size: 2.5rem;
			}
		}
	}
	.card-box-a {
		.price-a {
			font-size: 1rem;
		}
	}
	.card-box-b {
		.price-a {
			font-size: 1rem;
		}
	}
	.card-overlay-a-content {
		bottom: 0px;
	}
	.card-header-a {
		.card-title-a {
			font-size: 2rem;
		}
	}
	.card-info {
		.card-info-title {
			font-size: 1rem;
		}
		li {
			span {
				font-size: 1rem;
			}
		}
	}
	.card-header-b {
		bottom: 20px;
		.title-2 {
			font-size: 1.6rem;
		}
		.date-b {
			font-size: 1rem;
		}
	}
	.title-c {
		font-size: 2.5rem;
	}
	.card-box-d {
		.card-overlay-hover {
			padding: 5px 40px 5px 35px;
		}
		.title-d {
			font-size: 1.5rem;
			margin: 1rem 0;
		}
		.card-body-d {
			p {
				margin-bottom: 12px;
				font-size: 1rem;
			}
		}
	}
	.sinse-box {
		padding: 3rem 4.5rem;
		.sinse-title {
			font-size: 2.2rem;
		}
	}
}
@media (max-width: 767px) {
	.text-brand {
		font-size: 1.8rem;
	}
	.section-t8 {
		padding-top: 4rem;
	}
	.section-t4 {
		padding-top: 2rem;
	}
	.section-md-t3 {
		padding-top: 3rem;
	}
	.section-tb85 {
		padding: 4rem 0 2.5rem 0;
	}
	.intro-single {
		padding-top: 9rem;
	}
	.card-box-a {
		margin-bottom: 2.5rem;
		.card-overlay-a-content {
			bottom: 65px;
		}
		.card-body-a {
			padding-bottom: 1rem;
		}
	}
	.card-box-b {
		margin-bottom: 2.5rem;
	}
	.card-box-c {
		margin-bottom: 2.5rem;
		margin-bottom: 2rem;
	}
	.card-box-d {
		margin-bottom: 2.5rem;
	}
	.property-agent {
		margin-top: 2.5rem;
	}
	.card-body-c {
		padding: 0;
	}
}
@media (max-width: 575px) {
	.box-collapse {
		.title-box-d {
			left: 35px;
			.title-d {
				font-size: 1.3rem;
			}
		}
	}
}
@media (min-width: 576px) {
	.intro {
		.intro-title {
			font-size: 3.5rem;
		}
		.intro-subtitle.intro-price {
			font-size: 1.3rem;
		}
	}
	.about-img-box {
		padding-left: 4rem;
	}
	.sinse-box {
		padding: 1.5rem 2.5rem;
		bottom: 20px;
		.sinse-title {
			font-size: 1.3rem;
		}
		p {
			font-size: 0.8rem;
			font-size: 1rem;
		}
	}
}
@media (min-width: 768px) and (min-width: 768px) {
	.card-box-a {
		&:hover {
			.card-overlay-a-content {
				bottom: 60px;
			}
		}
	}
}
@media (min-width: 768px) and (min-width: 992px) {
	.card-box-a {
		&:hover {
			.card-overlay-a-content {
				bottom: 64px;
			}
		}
	}
}
@media (max-width: 991px) {
	.property-contact {
		margin-top: 2.5rem;
	}
}
@media (min-width: 1200px) {
	.card-box-d {
		.card-overlay-hover {
			padding: 15px 40px 5px 35px;
		}
		.title-d {
			font-size: 2rem;
			margin: 1rem 0;
		}
	}
}
